<!DOCTYPE html>
<html>
  {{ partial "site-head.html" . }}
  <body class="appear-animate">
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>

    <div class="page" id="top">

      <section class="home-section bg-dark bg-dark-alfa-50"
        data-background="images/burger.jpg" id="home">
        <div class="js-height-full container">

          <!-- Hero Content -->
          <div class="home-content">
            <div class="home-text">
              <h1 class="hs-line-15 font-alt mb-30 mb-xs-20">
                Best Bites of Memphis
              </h1>

              <h2 class="hs-line-4 mb-25">
                Benefitting Saint Francis of Assisi Catholic School
              </h2>

              <h2 class="hs-line-4">
                October 20th, 2018 &bull; 7:00 pm &bull; 8250 Varnavas Drive
              </h2>

            </div>
          </div>

          <div class="local-scroll">
            <a href="#about" class="scroll-down"><i class="fa fa-angle-down scroll-down-icon"></i></a>
          </div>

        </div>
      </section>


      <nav class="main-nav dark transparent stick-fixed">
        <div class="full-wrapper relative clearfix">
          <div class="nav-logo-wrap local-scroll">
            <a href="#top" class="logo">SFA Best Bites</a>
          </div>
          <div class="mobile-nav">
            <i class="fa fa-bars"></i>
          </div>
          <div class="inner-nav desktop-nav">
            <ul class="clearlist scroll-nav local-scroll">
              <li class="active"><a href="#home">Home</a></li>
              <li><a href="#about">About</a></a>
              <li><a href="#bites">Bites</a></li>
              <li><a href="#auction">Auction</a></li>
              <li><a href="#raffle">Raffle</a></li>
              <li><a href="#tickets"><strong>Tickets</strong></a></li>
              <li><a href="#help">Help</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <section class="page-section" id="about">
        <div class="container relative">
          <div class="section-text">
            <div class="row">

              <div class="col-md-8">
                <h4>
                  The best foods from favorite Memphis restaurants.
                </h4>
                <h4>
                  A silent auction with the great items from local businesses.
                </h4>
                <h4>
                  A $5,000 Grand Prize raffle.
                </h4>
                <h4>
                  Awesome music and dance floor.
                </h4>

                <h3 class="black">
                  All benefitting Saint Francis of Assisi Catholic School.
                </h3>
              </div>
              <div class="col-md-4 align-center">
                <img src="images/sfa-logo.png" alt="SFA logo" />
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="page-section pt-0 pb-0">
        <div class="relative">
          <div class="image-carousel bg-dark">
            {{ range seq 7 }}
              <div class="post-prev-img mb-0">
                <a href="images/gallery-{{ . }}.jpg"
                  class="lightbox-gallery-2 mfp-image">
                  <img src="images/gallery-{{ . }}.jpg" alt="" />
                </a>
              </div>
            {{ end }}
          </div>
        </div>
      </section>

      <section class="page-section" id="bites">
        <div class="container relative">
          <h2 class="section-title font-alt mb-70 mb-sm-40">
            Bites
          </h2>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="section-text align-center mb-70 mb-xs-40">
                <p>
                  The evening's menu will include appetizers, entrees, and
                  desserts from the following fine local restaurants who
                  have graciously donated to our cause.
                </p>
                <div class="row">
                  <div class="col-md-6">
                <p><a href="https://stranobychefjosh.com/">
                  Strano by Chef Josh
                </a></p>
                <p><a href="https://eastcoastwings.com/location/bartlett-tn/">
                  East Coast Wings + Grill
                </a></p>
                <p><a href="https://oneandonlybbq.com/">
                  One & Only BBQ
                </a></p>
                <p><a href="http://places.singleplatform.com/lucchesis-ravioli--pasta-company">
                  Lucchesi's
                </a></p>
                <p><a href="https://soulfishcafe.com/">
                  Soulfish Cafe
                </a></p>
                <p><a href="https://pearlsoysterhouse.com">
                  Pearl's Oyster House
                </a></p>
                  </div>
                  <div class="col-md-6">
                <p><a href="https://www.rnrsushiwolfchase.com/">
                  Rock N Roll Sushi
                </a></p>
                <p><a href="https://www.lennys.com">
                  Lenny's Grill &amp; Subs
                </a></p>
                <p><a href="https://thedapperdoughnut.com/wolfchase/">
                  The Dapper Doughnut
                </a></p>
                <p><a href="http://abbays.com/cordova/">
                  Abbay's
                </a></p>
                <p><a href="http://sfawolves.com">
                  SFA Cafe
                </a></p>
                <p><a>
									Jennifer Bourgeois
                </a></p>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="page-section bg-dark bg-dark-alfa-50" id="auction">
        <div class="container relative">
          <div class="row align-center">
            <h3 class="banner-heading font-alt mb-40">
              Silent Auction
            </h3>
          </div>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="section-text align-center mb-70 mb-xs-40">
                <p>
                  The evenings silent auction will include great products,
                  gifts, and certificates kindly donated by the following local
                  companies:
                </p>
                <p><strong>TBA...</strong></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="page-section" id="raffle">
        <div class="container relative">
          <h2 class="section-title font-alt mb-70 mb-sm-40">
            Beat the Odds Raffle
          </h2>

          <div class="row align-center">
            <div class="col-md-8 col-md-offset-2">
              <div class="section-text align-center mb-70 mb-xs-40">
                <p>
                  One lucky winner will win a grand prize of $5,000! You don't
                  need to be present to win, but you will need a 
                  <a href="#tickets">ticket(s)</a>!
                </p>
              </div>
              <img src="/images/beat-odds-logo.png">
            </div>
          </div>
        </div>
      </section>

      <section class="page-section bg-dark bg-dark-alfa-50"
        data-background="images/something.jpg">
        <div class="container relative">

          <div class="align-center">
            <h3 class="banner-heading font-alt mb-40">
              Join us for an unforgettable night of food, entertainment, and
              charity!
            </h3>
            <div class="local-scroll">
              <a href="#tickets" class="btn btn-mod btn-w btn-medium btn-round">
                Get Your Tickets
              </a>
            </div>
          </div>
        </div>
      </section>


      <section class="page-section" id="tickets">
        <div class="container relative">

          <h2 class="section-title font-alt mb-70 mb-sm-40">
            Purchase Tickets
          </h2>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="section-text align-center mb-70 mb-xs-40">
                <p>
                  Event tickets may be purchased at a $5 discount in advance 
                  here (through PayPal) or at the door for $40 until we sell out.
                </p>
                <p>
                  Raffle tickets may be purchased here (through PayPal), at the
                  door, or directly from your favorite student. You do not 
                  need to be present to win.
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <form class="form contact-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="paypal">
                <input name="cmd" type="hidden" value="_s-xclick">
                <input name="hosted_button_id" type="hidden" value="3HCQ9BKDR23AG">
                <input name="currency_code" type="hidden" value="USD">
                <div class="form-group">
                  <input type="hidden" name="on0" value="Best Bites">
                  <select name="os0" class="form-control">
                    <option value="Event Tickets">
                      Event Ticket - $35.00
                    </option>
                    <option value="RAFFLE TICKETS- EACH">
                      Raffle Ticket - $20.00
                    </option>
                    <option value="RAFFLE TICKETS 5 for 90">
                      5 Raffle Tickets - $90.00
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <input name="on1" type="hidden" value="Phone Number">
                  <input type="text" name="os1" id="phone" class="input-md round
                  form-control" placeholder="Phone Number (required)" pattern=".{3,100}" required>
                </div>

                <div class="form-group">
                  <input name="on2" type="hidden" value="Student Name / Grade">
                  <input type="text" name="os2" id="phone" class="input-md round form-control" placeholder="Student Name / Grade (optional)" pattern=".{3,100}">
                </div>

                <button alt="Add to PayPal Cart"
                  class="submit_btn btn btn-mod btn-medium btn-round"
                  name="submit"
                  src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
                  type="submit">
                  Add to PayPal Cart
                </button>
              </form>
            </div>
          </div>
        </div>
      </section>

      <section class="page-section pt-0 pb-0" id="location">
        <div class="google-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3260.831830066854!2d-89.79248279451056!3d35.1857438130448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x887f9dc6ee1a18cf%3A0xa764b3b9e4645b1b!2sSt.+Benedict+at+Auburndale!5e0!3m2!1sen!2sus!4v1536946489572" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </section>

      <section class="page-section" id="help">
        <div class="container relative">
          <h2 class="section-title font-alt mb-70 mb-sm-40">
            Want to help?
          </h2>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="section-text align-center mb-70 mb-xs-40">
                <h4>Volunteer Opportunities</h4>
                <p>
                  We're always looking for more help, as Best Bites is our
                  biggest (and only) fundraiser. If you'd like to lend your
                  talents, hard work, or a helping hand please signup
                  via the Sign Up Genius links below.
                </p>
                <p>
                  <a href="https://www.signupgenius.com/go/30e094fa4a923a2ff2-best">
                    Auction Volunteer Signup
                  </a>
                </p>
                <p>
                  <a href="https://www.signupgenius.com/go/30e094fa4a923a2ff2-decorating">
                    Event Setup and Breakdown Signup
                  </a>
                </p>
                <p>
                  <a href="https://www.signupgenius.com/go/30E094FA4A923A2FF2-best1">
                    Mass Ticket Sales Table Signup
                  </a>
                </p>
                <p>
                  <a href="https://www.signupgenius.com/go/30e094fa4a923a2ff2-sfaparish">
                    Mocktober Ticket Sales Booth Signup
                  </a>
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="section-text align-center mb-70 mb-xs-40">
                <h4>Auction Donations</h4>
                <p>
                  Gain exposure in the local area and help a good cause
                  by donating products, services, gift cards or other wares.
                </p>
                <p>
                  To donate turn your item to the school office with the
                  following form below.
                </p>
                <p>
                  <a href="pdf/auction-donation.pdf">
                    Auction Item Donation Form
                  </a>
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="section-text align-center mb-70 mb-xs-40">
                <h4>Sponsorships</h4>
                <p>
                  Get your brand's name in front of a wide audience and
                  give for a great cause. We still have spots for all levels
                  of sponsors (detailed in the link below).
                </p>
                <p>
                  <a href="pdf/sponsorship-levels.pdf">
                    2018 Sponsorship Levels
                  </a>
                </p>
                <p>
                  <a href="pdf/sponsorship-commitment.pdf">
                    Sponsorship Commitment Form
                  </a>
              </div>
            </div>
          </div>

        </div>
      </section>

      <footer class="small-section bg-gray-lighter footer pb-60">
        <div class="container">

          <div class="row mb-40 align-left">

            <div class="col-sm-12">
              <div class="row">

                <div class="col-sm-6 col-lg-3 pt-20 pb-20 pb-xs-0">
                  <div class="contact-item">
                    <div class="ci-icon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <div class="ci-title font-alt">
                      Call Amy
                    </div>
                    <div class="ci-text">
                      +1 (901) 568-2367
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-lg-3 pt-20 pb-20 pb-xs-0">
                  <div class="contact-item">
                    <div class="ci-icon">
                      <i class="fa fa-envelope"></i>
                    </div>
                    <div class="ci-title font-alt">
                      Email
                    </div>
                    <div class="ci-text">
                      <a href="mailto:abrenner914@gmail.com">abrenner914@gmail.com</a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-lg-3 pt-20 pb-20 pb-xs-0">
                  <div class="contact-item">
                    <div class="ci-icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="ci-title font-alt">
                      Join us at
                    </div>
                    <div class="ci-text">
                      Saint Benedict at Auburndale <br />
                      8250 Varnavas Drive <br />
                      Cordova TN
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-lg-3 pt-20 pb-20 pb-xs-0">
                  <div class="contact-item">
                    <div class="ci-icon">
                      <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="ci-title font-alt">
                      Join us on
                    </div>
                    <div class="ci-text">
                      Saturday, October 20th <br />
                      7:00pm - 10:00pm Central
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="footer-text">
            <div class="footer-copy font-alt">
              &copy; SFA Best Bites 2018.
            </div>
          </div>
        </div>


        <div class="local-scroll">
          <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
        </div>

      </footer>
    </div>


    {{ partial "site-scripts.html" . }}
  </body>
</html>
