<!DOCTYPE html>
<html>
  {{ partial "site-head.html" . }}
  <body class="appear-animate">
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>

    <div class="page" id="top">

      <section class="home-section bg-dark bg-dark-alfa-50"
        data-background="images/burger.jpg" id="home">
        <div class="js-height-full container">

          <!-- Hero Content -->
          <div class="home-content">
            <div class="home-text">
              <h1 class="hs-line-15 font-alt mb-30 mb-xs-20">
                Best Bites of Memphis
              </h1>

              <h2 class="hs-line-4 mb-25">
                Benefitting Saint Francis of Assisi Catholic School
              </h2>

              <h2 class="hs-line-4">
                October 20th, 2018 &bull; 7:00 pm &bull; 8250 Varnavas Drive
              </h2>

            </div>
          </div>

          <div class="local-scroll">
            <a href="#dinner" class="scroll-down"><i class="fa fa-angle-down scroll-down-icon"></i></a>
          </div>

        </div>
      </section>


      <nav class="main-nav dark transparent stick-fixed">
        <div class="full-wrapper relative clearfix">
          <div class="nav-logo-wrap local-scroll">
            <a href="#top" class="logo">SFA Best Bites</a>
          </div>
          <div class="mobile-nav">
            <i class="fa fa-bars"></i>
          </div>
          <div class="inner-nav desktop-nav">
            <ul class="clearlist scroll-nav local-scroll">
              <li class="active"><a href="#home">Home</a></li>
              <li><a href="#about">About</a></a>
              <li><a href="#dinner">Dinner</a></li>
              <li><a href="#raffle">Raffle</a></li>
              <li><a href="#auction">Auction</a></li>
              <li><a href="#sponsor">Sponsor</a></li>
              <li><a href="#voluteer">Volunteer</a></li>
              <li>
                <a href="#tickets" target="_blank">
                  <span class="btn btn-mod btn-circle btn-w">Tickets</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <section class="page-section" id="about">
        <div class="container relative">
          <div class="section-text">
            <div class="row">

              <div class="col-md-8">
                <h4>
                  The best foods from favorite Memphis restaurants.
                </h4>
                <h4>
                  A silent auction with the great items from local businesses.
                </h4>
                <h4>
                  A $15,000 Grand Prize raffle.
                </h4>
                <h4>
                  Awesome live, local music.
                </h4>

                <h3 class="black">
                  All benefitting Saint Francis of Assissi Catholic School.
                </h3>
              </div>
              <div class="col-md-4 align-center">
                <img src="images/sfa-logo.png" alt="SFA logo" />
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="page-section pt-0 pb-0">
        <div class="relative">
          <div class="image-carousel bg-dark">
            {{ range seq 7 }}
              <div class="post-prev-img mb-0">
                <a href="images/gallery-{{ . }}.jpg"
                  class="lightbox-gallery-2 mfp-image">
                  <img src="images/gallery-{{ . }}.jpg" alt="" />
                </a>
              </div>
            {{ end }}
          </div>
        </div>
      </section>


      <section class="page-section bg-dark bg-dark-alfa-50"
        data-background="images/something.jpg">
        <div class="container relative">

          <div class="align-center">
            <h3 class="banner-heading font-alt mb-40">
              Join us for an unforgettable night of food, entertainment, and
              charity!
            </h3>
            <div class="local-scroll">
              <a href="#tickets" class="btn btn-mod btn-w btn-medium btn-round">
                Get Your Tickets
              </a>
            </div>
          </div>

        </div>
      </section>


      <section class="page-section" id="tickets">
        <div class="container relative">

          <h2 class="section-title font-alt mb-70 mb-sm-40">
            Purchase Tickets
          </h2>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="section-text align-center mb-70 mb-xs-40">
                <p>
                Event tickets may be purchased in advance here (through PayPal)
                or at the door until we sell out.
              </p>
              <p>
                Raffle tickets may be purchased here (through PayPal), directly
                from your favorite student, or at the door. You do not need to
                be present to win.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <form class="form contact-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="paypal">
                <input name="cmd" type="hidden" value="_s-xclick">
                <input name="hosted_button_id" type="hidden" value="3HCQ9BKDR23AG">
                <input name="currency_code" type="hidden" value="USD">
                <div class="form-group">
                  <input type="hidden" name="on0" value="Best Bites">
                  <select name="os0" class="form-control">
                    <option value="Event Tickets">
                      Event Ticket - $35.00
                    </option>
                    <option value="RAFFLE TICKETS- EACH">
                      Raffle Ticket - $20.00
                    </option>
                    <option value="RAFFLE TICKETS 5 for 90">
                      5 Raffle Tickets - $90.00
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <input name="on1" type="hidden" value="Phone Number">
                  <input type="text" name="os1" id="phone" class="input-md round
                  form-control" placeholder="Phone Number (required)" pattern=".{3,100}" required>
                </div>

                <div class="form-group">
                  <input name="on2" type="hidden" value="Student Name / Grade">
                  <input type="text" name="os2" id="phone" class="input-md round form-control" placeholder="Student Name / Grade (optional)" pattern=".{3,100}">
                </div>

                <button alt="Add to PayPal Cart"
                  class="submit_btn btn btn-mod btn-medium btn-round"
                  name="submit"
                  src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
                  type="submit">
                  Add to PayPal Cart
                </button>
              </form>
            </div>
          </div>
        </div>
      </section>


      <!-- Google Map -->
      <section class="page-section pt-0 pb-0" id="location">
        <div class="google-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12286.715636833376!2d-75.59837531200412!3d39.65694025682884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c703f3d191cf13%3A0xf4674106f987fe3a!2s245+Quigley+Blvd+Ste+K%2C+New+Castle%2C+DE+19720%2C+USA!5e0!3m2!1sen!2sua!4v1530266633608" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </section>
      <!-- End Google Map -->


      <!-- Foter -->
      <footer class="small-section bg-gray-lighter footer pb-60">
        <div class="container">

          <div class="row mb-40 align-left">

            <div class="col-sm-12">
              <div class="row">

                <!-- Phone -->
                <div class="col-sm-6 col-lg-3 pt-20 pb-20 pb-xs-0">
                  <div class="contact-item">
                    <div class="ci-icon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <div class="ci-title font-alt">
                      Call Us
                    </div>
                    <div class="ci-text">
                      +61 3 8376 6284
                    </div>
                  </div>
                </div>
                <!-- End Phone -->

                <!-- Email -->
                <div class="col-sm-6 col-lg-3 pt-20 pb-20 pb-xs-0">
                  <div class="contact-item">
                    <div class="ci-icon">
                      <i class="fa fa-envelope"></i>
                    </div>
                    <div class="ci-title font-alt">
                      Email
                    </div>
                    <div class="ci-text">
                      <a href="mailto:support@bestlooker.pro">support@bestlooker.pro</a>
                    </div>
                  </div>
                </div>
                <!-- End Email -->

                <!-- Address -->
                <div class="col-sm-6 col-lg-3 pt-20 pb-20 pb-xs-0">
                  <div class="contact-item">
                    <div class="ci-icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="ci-title font-alt">
                      Address
                    </div>
                    <div class="ci-text">
                      245 Quigley Blvd, Ste K
                    </div>
                  </div>
                </div>
                <!-- End Address -->

                <!-- Opening Time -->
                <div class="col-sm-6 col-lg-3 pt-20 pb-20 pb-xs-0">
                  <div class="contact-item">
                    <div class="ci-icon">
                      <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="ci-title font-alt">
                      We are opened
                    </div>
                    <div class="ci-text">
                      Monday-Friday: 11am to 12pm <br />
                      Saturday, Sunday: 9am to&nbsp;3pm
                    </div>
                  </div>
                </div>
                <!-- End Opening Time -->

              </div>
            </div>

          </div>

          <!-- Divider -->
          <hr class="mt-0 mb-60 "/>
          <!-- End Divider -->

          <!-- Social Links -->
          <div class="footer-social-links mb-30">
            <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
            <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
          </div>
          <!-- End Social Links -->

          <!-- Footer Text -->
          <div class="footer-text">

            <!-- Copyright -->
            <div class="footer-copy font-alt">
              <a href="http://themeforest.net/user/theme-guru/portfolio" target="_blank">&copy; Rhythm 2017</a>.
            </div>
            <!-- End Copyright -->

            <div class="footer-made">
              Made with love for great people.
            </div>

          </div>
          <!-- End Footer Text -->

        </div>


        <!-- Top Link -->
        <div class="local-scroll">
          <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
        </div>
        <!-- End Top Link -->

      </footer>
      <!-- End Foter -->


    </div>
    <!-- End Page Wrap -->


    <!-- JS -->

    {{ partial "site-scripts.html" . }}
  </body>
</html>
